<br/>
<div>
  <div class="table-wrapper">
    <div class="table-header">
      <div class="title">
        Current enrollments
      </div>
    </div>
    <div class="table-content">
      <table>
        <thead>
            <th class="text-center">Name</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-show="enrollments.length <= 0">
              <td colspan="2">There are currently no enrollments to view.</td>
            </tr>
            <tr ng-repeat="enrollment in enrollments">
              <td>
                  <a href="/enrollments/{{enrollment._id}}">{{enrollment.first_name}}</a>
              </td>
              <td class="text-center">
                <span ng-click="remove(enrollment)" class="glyphicon glyphicon-remove brick"></span>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
        &nbsp;
    </div>
  </div>
</div>